{% extends "base.html" %}
{% load static %}

{% block head %}
<title>registration</title>
{%endblock%}

{% block body %}

<!-- Registration page-->
  <div class="mt-10 flex flex-col items-center justify-center">
    <div class="flex flex-col bg-white shadow-md px-4 sm:px-6 md:px-8 lg:px-10 py-8 rounded-3xl w-50 max-w-md">
      <a href="/" >
        <img class="h-8 w-8" src="{% static 'img/home.png'%}" alt="Home">
      </a>
      <div class="font-medium self-center text-xl sm:text-3xl text-gray-800">Register yourself</div>
      <div class="mt-4 self-center text-xl sm:text-lg text-gray-800">Enter your details for completing registration</div>
      <div class="mt-10">
        <form method="post">
          {% for field in form %}
          {%csrf_token %}
          <div class="flex flex-col mb-5">
            <label for="{{field.auto_id}}" class="mb-1 text-md tracking-wide text-gray-600">{{field.label}}</label>
            <div class="relative">
              <div class="inline-flex items-center justify-center absolute left-0 top-0 h-full w-10 text-gray-400"><i class="fas fa-at text-blue-500"></i></div>
              {{field}}
            </div>
          </div>

          {%endfor%}
          
          <div class="flex w-full">
            <input type="submit" class="flex mt-2 items-center justify-center focus:outline-none text-white text-sm sm:text-base bg-blue-500 hover:bg-blue-600 rounded-2xl py-2 w-full transition duration-150 ease-in"><span class="mr-2 uppercase">
          </div>
        </form>
        <ul class="messages">
          {%for i in  messages%}
          <p class='text-red-600 mt-2 '>{{i}}</p>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="flex justify-center items-center mt-6">
      <a href="#" target="_blank" class="inline-flex items-center text-white font-medium text-sm text-center"><span class="ml-2">Already have an account ? <a href="/profiles/login" class="text-sm ml-2 text-blue-500 font-semibold">Login</a></span></a>
    </div>
  </div>

{%endblock%}